//The background picture is now included in the body of the website, i.e. every page on the site
body {
  background: url("http://www.asfa.ca/wp-content/uploads/2016/03/ASFA_Blur.jpg");
  background-size: cover;
  position:relative;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.centercolumn{
  text-align: center;
  padding-right: 35%;
  padding-left: 35%;
  margin-right: auto;
  margin-left: auto;
}
.btn-social {
  position: relative;
  padding-left: 44px;
  padding-bottom: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.bottom {
  text-align: center;
  margin-top: 5%;
 }

.home{
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 24px;
  padding-right: 24px;
}


.center{
  margin-left:25%;
}

alert{
  margin-left:300px;
  margin-right: 70px;
  width: 550px;
  font-size: 0.875em;
}

.welcomeHome {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

//Transparent box for profile page
div.trans{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
div.trans h4,label{
  font-weight: bold;
  color:#000000;
}

//Transparent box for home page
div.transBox{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
div.transBox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
//Transparent box for schedule page
div.trans-sc{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 1;/*0.6*/
  filter: alpha(opacity=20);
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
.hiding{
  display:none;
}
.parent:hover .hiding {
  display:inline;
}
//Styling for links in alert box - ScheduleGen Page
.alert-link{
  text-decoration:none;
}

.green{
  background: rgb(66, 183, 42);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
  margin-bottom: 5px;
}

.red{
  background:  #B4131B;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
}

.btn-status {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #357fb7;
  margin-bottom: 10px;
}

.btn-status:hover{
  background-color: #358fb7;
}
