body {
  position:relative;
  font-size: 16px;
}
.centercolumn{
  text-align: center;
  padding-right: 35%;
  padding-left: 35%;
  margin-right: auto;
  margin-left: auto;
}
.bottom {
  text-align: center;
  margin-top: 5%;
 }


